@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #485365;
}
@media (max-width: 650px) {
  .bio {
    width: 70%;
  }
}
.scroll-x {
  overflow-x: scroll;
}
.scroll-y{
  overflow-y: scroll;
}
.user {
  width: fit-content;
}
.Icourse{
  max-height: 10px;
}
.fit-content {
  max-width: fit-content;
  max-height: fit-content;
}
.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: fit-content;
}
@media (min-width: 650px) {
  .userPage {
    max-width: 87%;
    float: right;
  }
  .userImg {
    width: 10%;
  }
}
.userPage {
  background-color: black;
}
